@using DoAnMon.Models
@model sanPham
@{
    ViewBag.Title = "ChiTiet";
    var data = new dbBanHangOnlineEntities();
}


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@Model.tenSP</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm cùng loại</h2>
                    @foreach (var item in data.sanPhams.Where(a => a.maLoai == Model.maLoai).OrderByDescending(a=>a.ngayDang).Take(4))
                    {
                        <div class="thubmnail-recent">
                            <img src=@Url.Content("~/Content"+item.hinhDD) class="recent-thumb" alt="">
                            <h2><a href=@Url.Action("ChiTiet", "Shop", new { id = item.maSP })>@item.tenSP</a></h2>
                            <div class="product-sidebar-price">
                                <ins>@String.Format("{0:0,0}", item.giaBan) VNĐ</ins> <del></del>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href=@Url.Action("Index","Home")>Home</a>
                        <a href=@Url.Action("Index","Shop")>Shop</a>
                        <a href=@Url.Action("ChiTiet", "Shop", new { id = Model.maSP })>@Model.tenSP</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src=@Url.Content("~/Content"+Model.hinhDD) alt="">
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.tenSP</h2>
                                <div class="product-inner-price">
                                    <ins>@String.Format("{0:0,0}", Model.giaBan) VNĐ</ins> <del></del>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        @*<input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">*@
                                    </div>
                                    <a href=@Url.Action("ThemGioHang", "GioHang", new { maSP = Model.maSP, strUrl = Request.Url.ToString() }) >
                                        <input class="add_to_cart_button" value="Thêm vào giỏ" type="submit" />
                                    </a>
                                </form>

                                <div class="product-inner-category">
                                    <p>Loại Sản Phẩm: <a href="">@data.loaiSPs.SingleOrDefault(a=>a.maLoai==Model.maLoai).loaiHang</a></p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>@Model.tenSP</h2>
                                            <p>@Model.ndTomTat</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Nhận Xét</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Tên</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                <p><label for="review">Nhận xét của bạn</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Gửi"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Sản phẩm mới nhất</h2>
                        <div class="related-products-carousel">
                            @foreach (var item in data.sanPhams.OrderByDescending(a => a.ngayDang).Take(6))
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src=@Url.Content("~/Content"+item.hinhDD) alt="">
                                        <div class="product-hover">
                                            <a href=@Url.Action("ThemGioHang", "GioHang", new { maSP = item.maSP, strUrl = Request.Url.ToString() }) class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                            <a href="@Url.Action("ChiTiet","Shop",new { id = item.maSP })" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="">@item.tenSP</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>@String.Format("{0:0,0}", item.giaBan) VNĐ</ins> <del></del>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
